{% extends 'base.html.twig' %}

{% block body %}
	{% verbatim %}
	<div ng-app="app" ng-controller="indexCtrl" class="container" ng-cloak>
		<h1>Ratio Demo</h1>
		<p>This is a test task for Studioratio.ru</p>
		<hr/>
		<div class="row">
			<div class="alert alert-warning" ng-show="error">{{ error }}</div>
			<div class="col-md-6">
				<form method="post" ng-show="!accessToken">
				 <div class="form-group ">
				  <label class="control-label requiredField" for="username">
				   Username
				   <span class="asteriskField">
					*
				   </span>
				  </label>
				  <input class="form-control" id="username" name="username" type="text" ng-model="authData.username"/>
				 </div>
				 <div class="form-group ">
				  <label class="control-label requiredField" for="password">
				   Password
				   <span class="asteriskField">
					*
				   </span>
				  </label>
				  <input class="form-control" id="password" name="password" type="password" ng-model="authData.password"/>
				 </div>
				 <div class="form-group">
				  <div>
				   <button class="btn btn-primary " name="submit" type="button" ng-click="auth()" ng-disabled="busy">
					{{ busy ? 'Authorization ...' : 'OAuth Sign In' }}
				   </button>
				  </div>
				 </div>
				</form>
			</div>
			<div class="col-md-6"></div>
		</div>

		<div ng-if="accessToken">
			<div class="row"><div class="alert alert-success">Access Token: <b>{{ accessToken }}</b></div></div>
			<div class="row" >
				<div class="col-md-4">
					<button class="btn btn-primary btn-sm" ng-click="getSomething('a')" ng-disabled="busy">Get Something A</button>
					<div ng-bind="something.a | trustAsHtml"></div>
				</div>
				<div class="col-md-4">
					<button class="btn btn-primary btn-sm" ng-click="getSomething('b')" ng-disabled="busy">Get Something B</button>
					<div ng-bind="something.b | trustAsHtml"></div>

				</div>
				<div class="col-md-4">
					<button class="btn btn-primary btn-sm" ng-click="getSomething('c')" ng-disabled="busy">Get Something C</button>
					<div ng-bind="something.c | trustAsHtml"></div>

				</div>
			</div>
		</div>
		<hr/>
		<div>By ScorpioT1000</div>
	</div>
	{% endverbatim %}
{% endblock %}

{% block javascripts %}
	<script type="text/javascript">
		var server = {
		    username: "{{ user ? user.username : '' }}",
		    accessToken: "{{ accessToken }}",
		    oauthClient: {
		        publicId: "{{ client ? client.getPublicId() : '' }}",
				secret: "{{ client ? client.getSecret() : '' }}" // TODO: this should be retrieved on back-end?
			},
            authUrl: "{{ path('fos_oauth_server_token') }}",
            getSomethingUrl: "{{ path('get_something') }}"
		};
	</script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
	<script type="text/javascript">
	
	var app = angular.module('app', []);
	app.filter('trustAsHtml', function($sce) {
        return function(v) { return $sce.trustAsHtml(v); };
    });
	app.controller('indexCtrl', function($rootScope, $scope, $http) {
        $rootScope.server = server;
		$scope.accessToken = server.accessToken || null;
		$scope.busy = false;
		$scope.error = false;
		$scope.authData = {
		    grant_type: "password",
			client_id: server.oauthClient.publicId,
			client_secret: server.oauthClient.secret,
			username: '',
			password: ''
		};
		$scope.something = {};

		$scope.auth = function() {
            $scope.busy = true;
            $scope.error = '';
            $http({
                method: 'POST',
                url: server.authUrl,
                data: $scope.authData,
                dataType: 'json',
                responseType: 'json'
            }).then(function (res) {
                $scope.busy = false;
                if(res.data.access_token) {
                    $scope.accessToken = res.data.access_token;
				} else {
                    $scope.error = 'Success but no access_token, why? :(';
				}
            }, function(res) {
                $scope.busy = false;
                $scope.error = res.statusText + (res.data ? ': ' + JSON.stringify(res.data) : '');
			});
		};

		$scope.getSomething = function(somethingField) {
            $scope.busy = true;
            $scope.error = '';
            $http({
                method: 'GET',
                url: server.getSomethingUrl,
                responseType: 'json',
                headers: {
                    "Authorization": "Bearer "+$scope.accessToken
                }
            }).then(function (res) {
                $scope.busy = false;
                $scope.something[somethingField] = res.data.something;
            }, function(res) {
                $scope.busy = false;
                $scope.error = res.statusText + (res.data ? ': ' + JSON.stringify(res.data) : '');
            });
		};

	});
	
	</script>
{% endblock %}

{% block stylesheets %}
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
{% endblock %}
